.popup__container {
  position: relative;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  background-color: #fff;
  padding: 36px;
  color: #000;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 621px) {
  .popup__container {
    width: 282px;
    height: 322px;
    padding: 22px;
  }
}
